.wrap {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;

  .time {
    position: absolute;
    left: 168px;
    top: 75px;
    font-size: 108px;
    font-weight: bold;
  }

  .date{
    width: 269px;
    position: absolute;
    left: 641px;
    top: 86px;
    font-size: 43px;
    font-weight: bold;
  }

  .week {
    width: 269px;
    position: absolute;
    left: 641px;
    top: 134px;
    font-size: 43px;
    font-weight: bold;
  }
}
