.subCard {
  position: absolute;
  left: 310px;
  top: 2478px;
  width: 1000px;
  height: 480px;
  // background-color: rgba(255, 0, 0, 0.5);

  .subTitle {
    position: absolute;
    left: 126px;
    top: 59px;
    font-family: "HarmonyOS_Sans_SC_Bold";
    font-size: 70px;
    color: #fff;
  }

  .subPoint {
    width: 30px;
    height: 30px;
    position: absolute;
    // background-color: rgb(230, 79, 39);
    left: 880px;
    top: 70px;
    border-radius: 50%;
  }


  .subValue {
    position: absolute;
    font-size: 120px;
    color: #fff;
    left: 115px;
    top: 152px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
  }

  .subDiff {
    position: absolute;
    font-size: 70px;
    left: 115px;
    top: 312px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    color: rgb(6, 8, 43);
  }

  .subPercent {
    position: absolute;
    font-size: 70px;
    left: 415px;
    top: 312px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    color: rgb(6, 8, 43);
  }
}