.chart1 {
  position: absolute;
  left: 254px;
  top: 925px;
  width: 984px;
  height: 242px;
}

.chart2 {
  position: absolute;
  left: 1494px;
  top: 925px;
  width: 984px;
  height: 242px;
}

.chart3 {
  position: absolute;
  left: 2734px;
  top: 925px;
  width: 984px;
  height: 242px;
}