.chart1 {
  position: absolute;
  left: 473px;
  top: 1722px;
  width: 1830px;
  height: 450px;
}

.chart2 {
  position: absolute;
  left: 2780px;
  top: 1722px;
  width: 1830px;
  height: 450px;
}

.chart3 {
  position: absolute;
  left: 5086px;
  top: 1722px;
  width: 1830px;
  height: 450px;
}