.value {
    position: absolute;
    font-size: 200px;
    color: #fff;
    left: 208px;
    top: 420px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    background-image: -webkit-linear-gradient(90deg, rgb(139,148,246) 20%, rgb(255,255,255) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    position: absolute;
    font-size: 170px;
    color: #fff;
    left: 208px;
    top: 180px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
}

.point {
    width: 30px;
    height: 30px;
    position: absolute;
    // background-color: rgb(230, 79, 39);
    left: 2040px;
    top: 70px;
    border-radius: 50%;
}

.diff {
    position: absolute;
    font-size: 120px;
    color: #fff;
    left: 1220px;
    top: 470px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
}

.diffPercent {
    position: absolute;
    font-size: 120px;
    color: #fff;
    left: 1740px;
    top: 470px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
}

.open {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 455px;
    top: 770px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.highest {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 1130px;
    top: 770px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.liang {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 1770px;
    top: 770px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.yesterday {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 455px;
    top: 885px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.lowest {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 1130px;
    top: 885px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.volume {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 1770px;
    top: 885px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.amplitude {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 455px;
    top: 1005px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.changes {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 1130px;
    top: 1005px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.changePercent {
    position: absolute;
    font-size: 70px;
    color: #fff;
    left: 1770px;
    top: 1005px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.card1 {
    position: absolute;
    left: 262px;
    top: 549px;
}

.card2 {
    position: absolute;
    left: 2566px;
    top: 549px;
}

.card3 {
    position: absolute;
    left: 4870px;
    top: 549px;
}