.value {
    position: absolute;
    font-size: 108px;
    color: #fff;
    left: 112px;
    top: 226px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
    background-image: -webkit-linear-gradient(90deg, rgb(139, 148, 246) 20%, rgb(255, 255, 255) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    position: absolute;
    font-size: 91px;
    color: #fff;
    left: 112px;
    top: 97px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
}

.point {
    width: 16px;
    height: 16px;
    position: absolute;
    // background-color: rgb(230, 79, 39);
    left: 1096px;
    top: 38px;
    border-radius: 50%;
}

.diff {
    position: absolute;
    font-size: 64px;
    color: #fff;
    left: 656px;
    top: 253px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
}

.diffPercent {
    position: absolute;
    font-size: 64px;
    color: #fff;
    left: 935px;
    top: 253px;
    font-family: 'HarmonyOS_Sans_SC_Bold';
}

.open {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 245px;
    top: 419px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.highest {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 607px;
    top: 419px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.liang {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 935px;
    top: 419px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.yesterday {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 245px;
    top: 483px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.lowest {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 607px;
    top: 483px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.volume {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 935px;
    top: 483px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.amplitude {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 245px;
    top: 547px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.changes {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 607px;
    top: 547px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.changePercent {
    position: absolute;
    font-size: 38px;
    color: #fff;
    left: 935px;
    top: 547px;
    font-family: 'HarmonyOS_Sans_SC_Regular';
}

.card1 {
    position: absolute;
    left: 141px;
    top: 295px;
}

.card2 {
    position: absolute;
    left: 1379px;
    top: 295px;
}

.card3 {
    position: absolute;
    left: 2617px;
    top: 295px;
}