.wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../asset/second/二级城市大数据总览.jpg);
  /* background-image: url(./asset/一级.jpg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
