.App {
  width: 7360px;
  height: 7070px;
  background-image: url(./asset/app/beijing.jpg);
  /* background-image: url(./asset/一级.jpg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}