.Control {
  width: 1920px;
  height: 1080px;
  background-image: url(./asset/control/触摸屏.jpg);
  /* background-image: url(./asset/一级.jpg); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.buttons1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 370px;
}

.buttons2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 687px;
}

.selected {
  position: absolute;
  left: 0;
  top: 375px;
  width: 254px;
  height: 254px;
  border-radius: 50%;
  border: 0px solid rgb(109, 199, 227);
  opacity: 0.6;
}

.subSelected {
  position: absolute;
  left: 0;
  top: 0;
  width: 238px;
  height: 60px;
  border-radius: 50px;
  border: 0px solid rgb(109, 199, 227);
}