.wrap {
    width: 100%;
    height: 100%;
    background-image: url(../../asset/second/背景.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .waitVideo {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;

        .loopVideo {
            width: 100%;
            height: 100%;
        }

        .button {
            position: absolute;
            left: 0px;
            top: 1297px;
        }

        .button1 {
            position: absolute;
            left: 435px;
            top: 1500px;
            width: 420px;
            height: 420px;
        }

        .button2 {
            position: absolute;
            left: 935px;
            top: 1300px;
            width: 520px;
            height: 520px;
        }

        .button3 {
            position: absolute;
            left: 1487px;
            top: 1500px;
            width: 420px;
            height: 420px;
        }

        .back {
            position: absolute;
            left: 50%;
            top: 3350px;
            transform: translateX(-50%);
        }

        .modal {
            position: absolute;
            left: 306px;
            top: 683px;
            width: 1734px;
            height: 2313px;

            .close {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);
            }
        }
    }
}