.wrap {
    width: 100%;
    height: 100%;
    background-image: url(../../asset/second/背景.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .waitVideo {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;

        .swiper {
            position: absolute;
            left: 0;
            top: 1300px;
            width: 100%;
            height: 1200px;
            // background-color: rgba(255,0,0,0.5);

            .point {
                position: relative;
                width: 420px;
                height: 420px;
                background-image: url(./按钮.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;

                .name {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 60%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    font-family: 'HarmonyOS_Sans_SC_Bold';
                    font-size: 44px;
                    text-align: center;
                }
            }
        }

        .loopVideo {
            width: 100%;
            height: 100%;
        }

        .button {
            position: absolute;
            left: 0px;
            top: 1297px;
        }

        .button1 {
            position: absolute;
            left: 435px;
            top: 1500px;
            width: 420px;
            height: 420px;
        }

        .button2 {
            position: absolute;
            left: 935px;
            top: 1300px;
            width: 520px;
            height: 520px;
        }

        .button3 {
            position: absolute;
            left: 1487px;
            top: 1500px;
            width: 420px;
            height: 420px;
        }

        .back {
            position: absolute;
            left: 50%;
            top: 3150px;
            transform: translateX(-50%);
        }

        .modalBg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9;

            .modal {
                position: absolute;
                left: 282px;
                top: 804px;
                width: 1600px;
                height: 2135px;
            }

            .close {
                position: absolute;
                left: 50%;
                top: 2640px;
                transform: translate(-50%, 50%);
                z-index: 10;
            }
        }
    }
}